<h1>Contact</h1><div class="jumbotron text-center">

  <br/><br/>

  <p>Don't miss our launch date, request an invitation now.</p>

  <div class="form-group row">
    <div class="col-xs-12">
      {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=message}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
        <button disabled={{isDisabled}} {{action 'sendMessage'}} class="btn btn-primary btn-lg btn-block">Send Message</button>
    </div>
  </div>
  {{#if responseMessage}}
     <div class="alert alert-success">{{responseMessage}}</div>
   {{/if}}
  <br/><br/>
</div>
